<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766125760257-ppsd45567kem68s944v8lc0rbr04ij20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766125760257-ppsd45567kem68s944v8lc0rbr04ij20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766125760257-8vpn7dm4tgn7tak0n0espndaftvph9gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnSUPfyJ2QKvRbA532CtCkLX6Hrbo09Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>766125760257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>android-firebase-chat-ap-b1d18</string>
	<key>STORAGE_BUCKET</key>
	<string>android-firebase-chat-ap-b1d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766125760257:ios:06d3b1b6a7b5e2c6200500</string>
	<key>DATABASE_URL</key>
	<string>https://android-firebase-chat-ap-b1d18.firebaseio.com</string>
</dict>
</plist>